
#nav-list a{
    color:green;
}
#nav-list a:hover{
    background-color:#B40431;
}

#middlebox{
    background-color:#B40431;
    height:1000px;
}
#main-text{
   margin: auto 15px;
}
.subtitles{
    font-size:2.2em;
}
#main-body{
    padding: auto 15px;
}